# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env
.env.development
.env.production
.env.staging

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.jest/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log

# Build artifacts
*.tar.gz
*.apk
*.ipa
*.aab

# Generated native code (Expo prebuild)
native-android/
native-ios/
android/
ios/

# iOS app bundles
*.app

# Android
*.hprof
buck-out/
.buckconfig

# Watchman
watchman-*.log

# Yarn
.yarn/
.pnp.*
